name: Test

on:
  push:
    branches:
      - main
      - staging
  pull_request:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    env:
      DATABASE_USERNAME: postgres
      DATABASE_PASSWORD: postgres
      DATABASE_HOST: localhost
      RUBYOPT: '-W:no-deprecated'
      RAILS_ENV: test
    services:
      postgres:
        image: postgres:17-alpine
        ports: ["5432:5432"]
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        env:
          POSTGRES_HOST_AUTH_METHOD: trust

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 1

      - name: Install GraphicsMagick
        run: sudo apt-get update && sudo apt-get install -y imagemagick

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: .ruby-version
          bundler-cache: true

      - run: bundle exec rubocop -P
        name: Lint Ruby files

      - name: Setup & create Database
        run: |
          bundle exec rails db:create db:schema:load
        env:
          RAILS_ENV: test
          DATABASE_USERNAME: postgres
          DATABASE_PASSWORD: postgres

      - name: Precompile assets
        run: |
          npm ci
          bundle exec rake assets:precompile
        env:
          RAILS_ENV: production
          DB_ADAPTER: nulldb
          SECRET_KEY_BASE: 1234567890

      - name: Run RSpec
        run: SIMPLECOV=1 CODECOV=1 bundle exec rspec
        env:
          RAILS_ENV: test
          DATABASE_USERNAME: postgres
          DATABASE_PASSWORD: postgres
